*, *:before, *:after{margin: 0; padding: 0; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box }
tbody, tfoot, thead, tr, th, td {border-width: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline }
html {-webkit-text-size-adjust: none }
body {word-wrap: break-word; font-size: 16px; line-height: 1.4; background-size: cover; overflow-x: hidden; color: #333; position: relative }
:focus {outline: 0 }
table {border-collapse: separate; border-spacing: 0 }
input{width: 100%; padding: 0.8em; border-style: solid; border-width: 2px; transition: border-color 0.25s ease 0s; line-height: normal; margin: 2px 0 0 0; font-size: 1em; color: inherit; background: inherit; border-color: inherit; font-family: "Lato"; font-size: 16px; 	color: #454545; border-color: #DADADA; background-color: #fff}
.layout input:hover, .layout input:focus {color: #000; border-color: #454545 }
.btn { border-radius: 5px; text-align: center; cursor: pointer; margin: 0px; transition: all 0.3s ease 0s; height: auto; padding: 9px 25px; display: inline-block; line-height: normal;  font-size: 16px; 	border-width: 0; color: #fff; background-color: #0070ff; border-color: #0070ff}
.btn:hover {color: #fff; background-color: #004a94; border-color: #004a94 }
.container_in{ min-width: 913px; margin: 0 auto; -webkit-box-shadow: 4px 7px 36px 13px rgba(224,224,224,1); -moz-box-shadow: 4px 7px 36px 13px rgba(224,224,224,1); box-shadow: 4px 7px 36px 13px rgba(224,224,224,1); padding: 65px 80px 80px;}
td, tr {vertical-align: middle; }
.container{ display: flex; flex-wrap: wrap; align-items: center; justify-content: center; height: 100vh; }
td.input-edit {position: relative; z-index: 0; cursor: pointer; }
td.input-edit:before {content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }
td:last-child {padding-right: 0; }
td {padding-right: 30px; }
td .btn:first-child {margin-left: 0; }
td .btn {margin-left: 15px; }
tr {border: 1px solid #c5c5c5; border-bottom: 0; display: block; padding: 10px 15px; }
tr:last-child {border-bottom: 1px solid #c5c5c5; }
.container_in table {margin-bottom: 50px; }
h1 {margin: 0 0 10px; }
.form-group label {padding-bottom: 5px; display: block; }
.form-group {padding-bottom: 15px; }
#success_message > div {padding: 15px; background: #caeacd; color: #008000; border-radius: 5px; margin-bottom: 30px; }
button.btn.btn-update {background: #24af4c; }
button.btn.btn-update:hover {background: #016b01; }
button.btn.btn-delete {background: #f00; }
button.btn.btn-delete:hover {background: #c50000; }
.btn.btn-reset {background: #9E9E9E;}
.btn.btn-reset:hover {background: #737373;}


@media(max-width: 991px){
	.container_in{ min-width: auto; max-width: 90%; width: 100%; }
	.container_in table { width: 100%; }
	.container_in td { display: block; padding: 0;}
	.container_in td:nth-child(2) {padding: 15px 0; }
}

@media(max-width: 768px){
	.container_in { padding: 35px 50px 50px; }
}
